[Unit]
Description=Osmocom Home Location Register (OsmoHLR)

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/osmo-hlr -U -c /etc/osmocom/osmo-hlr.cfg -l /var/lib/osmocom/hlr.db
RestartSec=2
ExecStopPost=/usr/local/bin/save_log_tail osmo-hlr

[Install]
WantedBy=multi-user.target
