*.o
*.db
*.pyc
.*.sw?
.version
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
*.m4
missing
.deps

*.pc

src/db_test
src/db_bootstrap.h
src/osmo-hlr
src/osmo-hlr-db-tool

tests/atconfig
tests/testsuite
tests/auc/auc_3g_test
tests/auc/auc_ts_55_205_test_sets.c
tests/auc/auc_ts_55_205_test_sets
tests/auc/auc_test
tests/gsup_server/gsup_server_test
